@model IEnumerable<AppUser>

<a class="btn btn-success" asp-controller="Account" asp-action="Create">Create User</a>
<hr>

<table class="table table-sm table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @if (Model.Count() == 0)
        {
            <tr>
                <td colspan="4" class="text-center">No users found</td>
            </tr>
        }
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Id</td>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>
                    <div class="d-flex flex-row justify-content-center align-items-center gap-1">
                        <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                        <form asp-action="Delete" method="post" onsubmit="return confirm('Are you sure?')">
                            <input type="hidden" value="@user.Id" name="Id">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>