@model IEnumerable<Kurs>

<h2>Kurs Listesi</h2>
<a href="/Kurs/Create" class="btn btn-primary">Kurs Ekle</a>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width: 100px;">@Html.DisplayNameFor(m => m.KursId)</th>
            <th>@Html.DisplayNameFor(m => m.Baslik)</th>
            <th style="width: 100px;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.KursId)</td>
                <td>@Html.DisplayFor(modelItem => item.Baslik)</td>
                <td class="d-flex flex-row gap-2">
                    <a asp-controller="Kurs" asp-action="Edit" asp-route-id="@item.KursId"
                        class="btn btn-sm btn-primary">Güncelle</a>
                    <a asp-controller="Kurs" asp-action="Delete" asp-route-id="@item.KursId"
                        class="btn btn-sm btn-danger">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>