@model Post


<div class="row g-3">
    <div class="col-lg-8">
        <div class="bg-white p-4">
            <h1 class="h4 mb-4">@Model.Title</h1>
            <div class="tags">
                @foreach (var tag in Model.Tags)
                {
                    <a href="/post/tag/@tag.Url"
                        class="badge bg-@tag.Color bg-opacity-10 text-@tag.Color mb-2 fw-bold">@tag.Text</a>
                }
            </div>
            <img src="~/img/@Model.Image" alt="" class="img-fluid rounded mb-3">
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <i class="bi bi-calendar"></i> @Model.PublishedOn.ToString("D")
                </li>
                <li class="list-inline-item">
                    <i class="bi bi-person-circle"></i> <a href="/profile/@Model.User.UserName">@Model.User.Name</a>
                </li>
            </ul>
            <hr class="mt-1">
            <div>@Html.Raw(Model.Content)</div>
        </div>
        <div class="bg-white mt-3 rounded">
            <div class="card border-0">
                <div class="card-header pb-0">
                    <h4><span id="commentCount">@Model.Comments.Count()</span> adet yorum</h4>
                </div>
                <div class="card-body">
                    <div class="comments">
                        @foreach (var comment in Model.Comments)
                        {
                            <div class="my-4 d-flex">
                                <img src="/img/@comment.User.Image" alt="" class="avatar rounded-circle float-start me-3">
                                <div>
                                    <div class="mb-2 d-flex">
                                        <h6 class="me-2 mb-0"><a
                                                href="/profile/@comment.User.UserName">@comment.User.Name</a></h6>
                                        <small>@comment.PublishedOn.ToString("dd/MM/yyyy HH:mm")</small>
                                    </div>
                                    <p>@comment.Text</p>
                                </div>
                            </div>
                        }
                    </div>
                    @if (User.Identity!.IsAuthenticated)
                    {
                        <hr class="my-4">
                        <div>
                            <h4 class="mb-3">Yorum Ekle</h4>
                            <form action="/post/AddComment" method="post">
                                <input type="hidden" id="PostId" name="PostId" value="@Model.PostId">
                                <div class="mb-1">
                                    <label for="Text" class="form-label">Yorum</label>
                                    <textarea type="text" name="Text" id="Text" rows="3" class="form-control"></textarea>
                                </div>
                                <div class="mb-3">
                                    <button id="btnCommentSave" type="submit" class="btn btn-primary">Kaydet</button>
                                </div>
                            </form>
                        </div>
                    }
                    else
                    {
                        <p>Yorum için <a href="/user/login">giriş</a> yapmalısınız. </p>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <vc:tags-menu></vc:tags-menu>
        <vc:new-post></vc:new-post>
    </div>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#btnCommentSave').click(function () {
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddComment")',
                    dataType: 'json',
                    data: {
                        postId: $('#PostId').val(),
                        userName: $('#UserName').val(),
                        text: $('#Text').val()
                    },
                    success: function (comment) {
                        console.log(comment);
                        $('.comments').append(`
                                                                                                                                                <div class="my-4 d-flex">
                                                                                                                                                <img src="/img/${comment.avatar}" alt="" class="avatar rounded-circle float-start me-3">
                                                                                                                                                <div>
                                                                                                                                                <div class="mb-2 d-flex">
                                                                                                                                                    <h6 class="me-2 mb-0">${comment.userName}</h6>
                                                                                                                                                    <small>${comment.publishedOn}</small>
                                                                                                                                                </div>
                                                                                                                                                <p>${comment.text}</p>
                                                                                                                                                </div>
                                                                                                                                                </div>`);

                        $("#UserName").val('');
                        $("#Text").val('');

                        var count = parseInt($('#commentCount').text());
                        $('#commentCount').text(count + 1);
                    }
                });

                return false;
            });
        });
    </script>
}